<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @news.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
